# Node & build artifacts
**/node_modules/
**/build/

# Environment configs
.env
*.env
frontend/.env
backend/.env
liquibase/liquibase.properties

# Local-only files
frontend/start-local.js
start-local.js

# Logs & editor junk
*.log
.DS_Store

# Docker server-only files (ignored by GitHub)
docker/
docker-compose.yml
**/Dockerfile.frontend.save

# DO NOT IGNORE THESE
!version.txt
!**/*.txt
